
body {
background-color: rgba(4, 30, 65, 0.856);
font-size: xx-large;
font-style: italic;
color: rgb(255, 255, 255);
 top: auto;
}
a{
    color: rgb(226, 169, 12);
}
button{
    font-size: xx-large;
    font-style: inherit;
    font-variant-caps: all-petite-caps;
    color: rgb(255, 255, 255);
    background-color: rgb(22, 57, 109);
    outline-style:solid;
    outline-color: black;
}
h1{
    background-color: rgba(8, 48, 100, 0.856);
}

section{
    background-color: rgba(7, 48, 102, 0.856);
}
li{
   color: rgb(187, 173, 108);
}




